/*public*/
.bg-tong{
  background-color: #da251c;
}
/*Text*/
.text-canter{
  text-align: center;
}
.text-white{
  color: #fff;
}
.text-mota{
  font-size: 13px;
  font-weight: 500;
}
.text-tieude{
  font-size: 25px;
  font-weight: 600;
}
/*table*/
 .tb-border td{
  border: 1px solid rgb(94, 94, 94);
}
/*thea*/
a{
  font-weight:500;
  color: black;

  text-decoration: none;

}
a:hover{
  color: #da251c;

}
/*padding*/
.pd-danhmuc{
 
padding-left: 2%;
}
/*header*/
#displayed-number-div {
  height: 100%;
  display: table;
  width: 100%;
}
#displayed-number {
  margin: 0;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 40vh;
  border-width: 5px;
  border-style: dashed;
}
  .f-tuvan{
    position: relative;
 
  
  
  }
  .f-tuvan input {
    background-color: #fff;
    border: none;
    font-size: 15px;
    line-height: 18px;
    padding: 10px;
    width: 100%;
    
    padding-right: 0;
}
.btn-search {
  border: none;
  background-color: transparent;
  height: calc(100% - 18px);
  right: 7px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  top: 50%;
  transform: translateY(-50%);
}
/*Thương hiệu*/
.mota-thuonghieu{
  font-size: 10px;
  color: rgb(134, 134, 134);
}
.timeline-dung{
  position: relative;
  width: 3px; 
  height: 30px;
  border-radius: 20px;
  
}
/*Flash sale*/
.flash-sale{
  background-color:#da251c;
  color: white;
  margin-left: 50%;
 margin-right: -40%;
  text-align: center;
  transform: rotate(45deg);
}
.text-giamgia{
  text-decoration-line: line-through;
  color: #cecece;
}
.text-mota-giamgia{
  font-size: 13px;


}
.text-giahot{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
}
/*BLOG*/
.ovl-at {
  width: 100%;
  height: 75%;
  padding: 15px;
  overflow: auto;
}
.a-blog a{
  color: #da251c;
}
.a-blog a:hover{
  color: #0c45ee;
}
/*Footer*/
.tieude-footer{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.mota-footer{
font-size: 12px;
font-weight: 400;
}
/*Giao diện*/
.pc,
.tablet,
.mobile {
  align-items: center;
  display: none;
}

@media (min-width:1024px) {
  .pc {
    display: block;

  }
}

@media (min-width:768px) and (max-width:1023px) {
  .tablet {
    display: block;
  }
}

@media (max-width: 767px) {
  .mobile {
    display: block;
    font-size: 13px;
  }
}